.heading h1 {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    font: 45px 'LeagueGothicRegular';
}

.heading {
    text-align: center;
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    font: 45px 'LeagueGothicRegular';
}

.foo{
    text-align: center;
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    font: 30px'LeagueGothicRegular';
}

#users{
    text-shadow: 0px 1px 1px #4d4d4d;
    font: 12px 'LeagueGothicRegular';
}
h2 {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    font: 45px 'LeagueGothicRegular';
    text-align: center;
}

h3 {
    text-shadow: 0px 1px 1px #4d4d4d;
    text-align: center;
    color: #222;
    font: 20px 'LeagueGothicRegular';
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	border:2px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:9px 44px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.button:active {
	position:relative;
	top:1px;
}
.player {
    text-align: center;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.buttonDiv { 
    margin: 0 auto;
    text-align: center;
}

.blah{
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    font: 20px 'LeagueGothicRegular';
    text-align: center;
}
